%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradientBorder {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  

header {
    @extend %flex-center;
    flex-direction: row;
    background-color: #1313289a;
    position: relative;
    z-index: 2;

    a {
      text-decoration: none;
    }

    nav {
        @extend %flex-center;
        flex-direction: row;
        justify-content: space-between; 
        width: 100%;
        padding: 0 2.5%;

        margin-top: 10px;
        margin-bottom: 5px;

        .leftPart {
          
            @extend %flex-center;
            flex-direction: row;

            img {
                width: 46px;
                height: 46px;
                margin-right: 10px;

            }

            h2 {
              font-size: clamp(17px, 3vw, 20px);
              margin-left: 10px;

              @media (max-width: 435px) {
                font-size: 15px;
              }

              @media (max-width: 400px) {
                font-size: 13px;
              }
            }
        }

        .rightPart {
            z-index: 1000;
            @extend %flex-center;
            flex-direction: row;
            gap: 7px;

            .icon {
              border-radius: 50%;
            }

            .number {
              font-size: 18px;
              font-weight: 500;
            }

            .languageDropdown {
                position: relative;
              }
              
              .languageSelector {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center; 
                padding: 5px;
                border-radius: 6px; 
              }
              
              .languageMenu {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #1313289a;
                border: 1px solid #ffffff;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                width: 100%; 
                max-width: 120px;
              }
              
              .languageMenu div {
                display: flex;
                align-items: center; 
                padding: 4px;
                cursor: pointer;
                border-radius: 4px; 
                margin-top: -4px;
              }
              
              
              .languageIcon {
                width: 32px;
                height: 21px;
                margin-right: -2px;
                border-radius: 3px; 
              }

            img {
                width: 36px;
                height: 36px;
                margin-top: 5px;
            }

            select {
                margin-left: 3px;
                background-color: #1313289a; 
                color: #333;
                border: 2px solid #ffffff;
                padding: 5px 10px;
                font-size: 16px;
                border-radius: 10px;
                font-family: 'Inter', system-ui;
                cursor: pointer;
                transition: all 0.3s ease;
                
                option {
                    background-color: #1313289a; 
                    color: #333; 
                    padding: 10px; 
                    font-size: 16px; 
                    border: 1px solid transparent; 
                    cursor: pointer;
                    transition: all 0.3s ease;
                    
                    &:hover {
                      background-color: #e6e6e6; 
                    }
            
                    &:active {
                      background-color: #d0d0d0; 
                    }
                  }
        
                &:focus {
                  outline: none; 
                  border-color: #ffffff; 
                }
        
                &:hover {
                  border-color: #1313289a; 
                }
              }
        }

        .burgerMenu {
            display: none;
            font-size: 28px;
            color: white;
            cursor: pointer;
            padding: 10px;
          }
          
         
          @media (max-width: 768px) {
            .rightPart {

              display: none;
              position: absolute;
              top: 72px; 
              left: 0;
              width: 100%;
              background-color: #0f0f1bc3;
              flex-direction: column;
              align-items: center;
              padding: 10px 0;
              gap: 12px;
              box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            }
          
            .rightPart.open {
              display: flex !important; 
              flex-direction: row;
              z-index: 999;
            }
          
            .burgerMenu {
              display: block;
            }
          }
        
    }
}

