%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    border-bottom: 1px solid #ffffff2e;


    .mainText {
        @extend %flex-center;
        font-size: clamp(24px, 3vw, 32px);
        color: white;
    }



    .map {
        @extend %flex-center;
        width: 85vw;
        max-width: 1000px;
        height: 450px; 
        border-radius: 10px;
        border: none;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 2%;

        @media (max-width: 780px) { 
            height: 380px;
            margin-bottom: 25px;
        }
    }

    .addressContainer {
        @extend %flex-center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 10px;
        gap: 4px;

        img {
            width: 36px;
            height: 36px;

            @media (max-width: 780px) { 
                width: 27px;
                height: 27px;
            }
            
        }

        a {
            text-decoration: none;

            h2 {
                font-size: clamp(17px, 2vw, 28px);
                background: linear-gradient(90deg, #ff9500, #eabb39); 
                background-size: 200% 200%; 
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent;
                animation: gradientText 3s ease infinite; 
            }
        }
    }

    .rew {
        margin: 0;
        text-align: center;
        font-size: clamp(20px, 2.5vw, 34px);
        background: linear-gradient(90deg, #ff9500, #eabb39); 
        background-size: 200% 200%; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        animation: gradientText 3s ease infinite; 
        margin-top: -5px;
        margin-bottom: 25px;
    }
   
}