%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    .mainText {
        @extend %flex-center;
        font-size: clamp(24px, 3vw, 32px);
    }
}